main .container {
    background-color: var(--main-color-text);
    border-radius: 24px;
    margin-bottom: 16px;
    padding: 16px;

    display: grid;
    flex-direction: column;
    height: 100%;

    text-align: center;
}