.form-group {
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-group .item {
    font-size: 1rem;
    margin: 0 8px;
    padding: 6px;
}

.form-group .field {
    border: 1px solid var(--background-color-header);
    background-color: var(--background-color-container);
    font-family: var(--font-family), serif;
    border-radius: 5px;
    width: 420px;
}

.form-group .button {
    border: 1px solid var(--background-color-header);
    font-family: var(--font-family), serif;
    background-color: #79d5ca;
    border-radius: 5px;
    width: 120px;
}

.error {
    font-family: var(--font-family), serif;
    font-style: italic;
    font-weight: bold;
    color: #ff2400;

    margin-bottom: 16px;
}


.container-tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    margin: 0 auto;
    max-width: 800px;
    padding: 16px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  /* Расположение кнопок справа, текста слева */
    gap: 12px;
    padding: 12px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-action {
    border: 1px solid var(--background-color-header);
    background-color: #fcb0a3;
    border-radius: 5px;
    padding: 8px 16px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-action:hover {
    background-color: #f79c83;  /* Смена фона при наведении */
}

.task-text {
    font-size: 1rem;
    flex: 1;
    display: inline-block;
    text-align: left;
    word-wrap: break-word;
    margin-left: 8px;
}

.task-text:hover {
    cursor: pointer;
}

.task-text:focus {
    outline: none;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 12px 0;
    opacity: 0.3;
}