@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
    --font-family: Inter, Roboto, Mali;

    --background-color-body: rgb(200, 200, 210);
    --background-color-container: #f8f8ff;
    --text-color-menu: rgb(60, 63, 65);
    --text-color-main: #f8f8ff;

    /*--background-color-body: #333333;*/
    --background-color-header: #212121;
    --new-color-background: RGB(60, 63, 65);
}

::-webkit-scrollbar {
    width: 0;
}

/* * {
    box-sizing: border-box;
    transition: all 0.3s ease;
}*/

body {
    background-color: var(--background-color-body);
    font-family: var(--font-family), serif;

    padding: 0;
    margin: 0;
}

main {
    margin: 0 6rem;
}

body.light {
    background-color: var(--background-color-body);
}

body.dark {
    background-image: url("https://kartinki.pics/uploads/posts/2021-07/1627099841_20-kartinkin-com-p-smeshnoi-fon-dlya-rabochego-stola-krasivo-20.jpg");
    background-size: cover;
}

.theme-button {
    background-color: var(--background-color-header);
    color: var(--text-color-main);
    font-style: italic;
    font-size: 1.2rem;
    border: none;

    padding: 0 !important;
}