header .container {
	background-color: var(--background-color-header);
	min-height: 50px;
	height: auto;
	width: 100%;

	display: grid;

	grid-template-columns: 1fr 4fr 1fr;
	justify-content: center;
	align-items: center;
}

header .item {
	display: flex;
	align-items: center;
	padding: 0 16px;

	color: var(--main-color-text);
	font-size: 1.1rem;
}

header .item a {
	color: var(--main-color-text);
	text-decoration: none;
}

header img {
	border-radius: 60px;
	width: 36px;
}

.item.left {
	justify-content: left;
}
.item.center {
	justify-content: center;
}
.item.right {
	 justify-content: right;
 }

header {
	 margin-bottom: 16px;
 }