main .container {
    background-color: #4d474f;
    border-radius: 24px;
    margin-bottom: 16px;
    padding: 8px;
}

.form-creation {
    background-color: var(--main-color-text);
    border-radius: 16px;
    padding: 8px;

    display: grid;
    flex-direction: column;
    height: 100%;
}

.form-creation input[type="text"] {
    font-family: var(--font-family), serif;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 1rem;
    padding: 16px;
}

.form-creation input[type="submit"] {
    font-family: var(--font-family), serif;
    background-color: #5cb85c;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    padding: 16px;
    color: white;
}

.form-creation button:hover {
    background-color: #4cae4c;
}














.tasks_list {
    background-color: var(--main-color-text);
    border-radius: 16px;
    padding: 8px;


    display: grid;
    flex-direction: column;
    height: 100%;
}

.tasks_list .item {
    display: grid;

    grid-template-columns: 9fr 1fr;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;

    margin: 8px;
}

.item.left {
    justify-content: left;
}
.item.right {
    justify-content: right;
}
.item label {
    margin-left: 16px;
}
.item button {
    padding: 16px !important;
    width: 100%;
}























.task_solution {
    background-color: #ffffff;
    border-radius: 24px;
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

.task_list {
    margin-top: 24px;
}

.task_list ul {
    list-style-type: none;
    padding: 0;
}

.task_list li {
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 8px;
}

.task_list li:last-child {
    border-bottom: none;
}

.task_list li span {
    margin: 0 8px;
}

.delete {
    transition: background-color 0.3s;
    background-color: #ff4d4d;
    border-radius: 8px;
    padding: 4px 8px;
    color: #ffffff;
    border: none;
}

.form {
    justify-content: space-between;
    display: flex;
}

.form input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 8px;
    padding: 8px;
    flex: 1;
}

.form input[type="submit"] {
    transition: background-color 0.3s;
    background-color: #007bff;
    border-radius: 8px;
    padding: 4px 10px;
    color: #ffffff;
    border: none;
}

.form input[type="submit"]:hover {
    background-color: #0056b3;
}

.completed {
    text-decoration: line-through;
}

.incomplete {
    text-decoration: none;
}