footer .container {
	background-color: var(--background-color-header);
	min-height: 50px;
	height: auto;
	width: 100%;

	display: grid;

	justify-content: center;
	align-items: center;
}

footer .item {
	display: flex;
	align-items: center;
	padding: 0 16px;

	color: var(--text-color-main);
	font-size: 1.1rem;
}

footer .item a {
	color: var(--text-color-main);
	text-decoration: none;
}