@import url('fonts.css');

:root {
  --main-color-text: #f0f0f0;
  --main-font-family: Roboto, Mali;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: var(--main-font-family) serif;
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
}

main {
  justify-content: space-between;
  align-items: center;
  margin: 0 7.5rem;
  display: flex;
}

main .container {
  background-color: #f0f0f0;
  border: 2px solid #333333;
  border-radius: 20px;
  padding: 16px;
  flex: 1;
}