header {
	margin-bottom: 16px;
}

.navbar {
	background-color: #333333;
	height: 60px;
	width: 100%;
}

.navbar .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.navbar a {
	font-family: 'Lato', Roboto, serif;
	color: var(--main-color-text);
	text-decoration: none;
	align-items: center;
	font-size: 1.15rem;
	display: flex;
	height: 100%;
}

.navbar span {
	margin-left: 8px;
}
